<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_HOST" value="mysql"/>
        <env name="DB_NAME" value="department_db"/>
        <env name="DB_USER" value="user"/>
        <env name="DB_PASS" value="user_password"/>
    </php>
</phpunit>